www/*
dist/*
loader/*

*~
*.sw[mnpcod]
*.log
*.lock
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env



/src/global/interfaces/application-configuration.ts
/src/translations/
